.baseContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;

  .loginHeader {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  .loginContent {
    width: 80%;
    display: flex;
    flex-direction: column;

    .socialContainer {
      display: flex;
      justify-content: center;
      margin-top: 2rem;

      button {
        background-color: transparent;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        font-size: 1.1rem;
        border: 0.5px solid #00000033;
        border-radius: 5px;
        padding: 8px 24px;
        cursor: pointer;

        svg {
          width: 100%;
          height: 1.5rem;
        }
      }
    }

    .loginForm {
      width: 100%;
      margin-top: 2em;
      display: flex;
      flex-direction: column;
      align-items: center;

      .formGroup {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        label {
          font-size: 20px;
        }
        input {
          margin-top: 6px;
          width: 100%;
          height: 37px;
          padding: 0px 10px;
          font-size: 16px;
          background-color: #f3f3f399;
          border: 0;
          border-radius: 4px;
          margin-bottom: 31px;
          transition: all 250ms ease-in-out;

          &::placeholder {
            color: #b6b6b6;
          }

          &:hover {
            background-color: #ffffff;
            box-shadow: 0px 0px 14px 0.3px #0e81ce96;
          }

          &:focus {
            outline: none;
            box-shadow: 0px 0px 12px 0.8px #3474dbb2;
          }
        }
      }

      .btn {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;

        button {
          height: auto;
          outline: none;
          background-color: transparent;
          border: 1px solid black;
          padding: 0.6rem 1.2rem;
          border-radius: 8px;
          font-weight: bold;
          letter-spacing: 0.5px;
          transition: all 0.2s ease;

          &:hover {
            background-color: black;
            color: white;
          }
        }
      }
    }
  }
}
.switchUser {
  color: rgb(143, 138, 138);
  text-align: center;
  cursor: pointer;

  p {
    margin-top: 7px;
    font-size: 14px;
    span {
      color: rgb(0, 110, 255);
      text-decoration: underline;
    }
  }
}
.authBtns {
  display: flex;

  & > button {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
  }
}
