@import '../Dashboard.module.scss';

.Drawer {
  width: calc(100% - #{$dashMainWidth});
  height: 100vh;
  box-shadow: 1px 0px 12px 0px #00000022;
  display: flex;
  flex-direction: column;

  .drawerLogo {
    height: 70px;
    margin: 40px auto;
    padding: 0 5%;
  }

  .drawerNav {
    width: 100%;
    margin-top: 3rem;

    .navBox {
      width: 100%;
      padding: 10px 10%;
      background-color: transparent;
      border: none;
      height: auto;
      box-shadow: none;
      text-align: start;

      & > span {
        font-size: 1.4rem;
      }

      & > span:first-child {
        margin-right: 15px;
      }

      &:hover {
        background-color: #00000005;
      }

      &.selected {
        background: #40a9ff2d;
      }
    }
  }
}
