.ProductCard {
  font-family: Poppins;
  background: #fff;
  margin-bottom: 50px;
  transition: 0.3s;
  height: 450px;
  width: 300px;
  margin: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  &:hover {
    transform: scale(1.02);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  }

  .productImage {
    height: 50%;
    width: 100%;
    display: flex;
    img {
      height: 100%;
      margin: auto;
      padding-top: 25px;
    }
  }
  .productBody {
    .productName {
      display: flex;
      align-items: center;
      h3 {
        font-size: 1.5rem;
        font-weight: 550;
        height: 3rem;
      }
    }
    .details {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0px 10%;
      .productPrice,
      .productStock {
        span {
          font-weight: 600;
        }
      }
    }
  }
  .editButton {
    display: flex;
    justify-content: center;
    background-color: #5ece9e;
    width: 100%;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
  }

  .card-inline {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .productBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 10px solid #AA66CC;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    padding-bottom: 0;
  }

  .card-body > div > span > span {
    font-size: 14px;
    margin: 1px;
    padding: 4px;
    border-radius: 10px;
    background-color: #e7c4f8;
    color: #9f3ad1;
  }

  .edit {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 2.5;
    display: inline-block;
    font-weight: 400;
    color: #fff !important;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 0;
    color: inherit;
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: normal;
    width: 50%;
  }
  .delete {
    font-size: 1rem;
    line-height: 2.5;
    display: inline-block;
    font-weight: 400;
    width: 50%;
    color: #fff !important;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 0;
    color: inherit;
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: normal;
    background-color: rgb(248, 66, 66);
    border-bottom-right-radius: 10px;
    padding-top: 2.8%;
  }
}
