.Products {
  width: 100%;
  padding: 2% 3%;
  // overflow: hidden;
  .productHeader {
    height: 22rem;
    .row {
      display: flex;
      flex-direction: row;
      height: 100%;
      .heading {
        display: flex;
        flex-direction: column;
        padding-left: 3%;
        h1 {
          font-weight: 700;
          text-transform: uppercase;
          padding-top: 14%;
          letter-spacing: 3px;
          font-size: 2.5rem;
        }
        p {
          line-height: 1.6rem;
          color: grey;
          font-size: 18px;
        }
      }
      .productLogo {
        height: 100%;
      }
    }
  }
  .prodMain {
    
    .cardContainer {
      width: 100%;
      margin-top: 3%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-flow: wrap;
      align-items: center;
    }
  }
}
